// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

:root {
  --blue: #023da3;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
main {
  padding: 80px 0 20px;
}
.container {
  position: relative;
  width: 95%!important;
  max-width: none!important;
  margin: 0 auto;
  padding: 0;
}
/* Rounded tabs */

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2b90d9;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #555;
  border-color: #2b90d9;
}
.nav-pills .nav-link {
  color: #555;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

/* Rounded tabs */

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2b90d9;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #555;
  border-color: #2b90d9;
}
.nav-pills .nav-link {
  color: #555;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

table {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  th {
    font-weight: 500;
    font-size: 16px;
    background-color: #2f80ba5e;
  }
  td {
    font-size: 15px;
    color: #354251;
  }
}

table td,
table th {
  white-space: pre-wrap;
  padding: 10px 5px;
  line-height: 15px;
  vertical-align: middle;
  border: 1px solid rgb(0 0 0 / 37%);
}
table td:hover {
  background-color: #c0c7cc;
}
table tr:hover td {
  color: #35425160;
  cursor: default;
}

.notes {
  width: 95%;
  margin: 20px auto;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul li .date-comment {
    display: flex;
    flex-direction: column;
  }

  ul li:last-child {
    border-bottom: none;
  }

  button[type="submit"] {
    background-color: #9e9e9e;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #ff4500;
  }

  textarea {
    width: 100%;
    min-height: 60px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    resize: vertical;
  }
  .date-comment {
    p {
      margin: 0;
      font-size: 20px;
    }
  }
}

.modal-dialog {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  form {
    height: calc(100% - var(--bs-modal-margin) * 2);
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
  }
}

#reportTables {
  .projProfit,
  .NameTable,
  .projExpense,
  .projTeam,
  .projReflection,
  .stage,
  .advantages,
  .disadvantages {
    font-weight: 600;
  }
  .NameTable {
    background-color: transparent;
    text-align: center;
  }
  .transparent {
    background-color: transparent;
  }
  .gray {
    background-color: rgb(208 206 206);
  }
  .blue {
    background-color: rgb(217 225 242);
  }
  .green {
    background-color: rgb(226 239 218);
  }
  .form-control {
    background-color: #f8fafc3d;
  }
}

input[readonly] {
  cursor: auto;
  background: rgb(16 45 75 / 24%) !important;
}
.input-field {
  .input_editable {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
  }
  :focus {
    outline: none;
    border-bottom: 1px solid #386fc2;
  }
  .col-3 {
    float: left;
    width: 100%;
    position: relative;
  }
  input[type="text"],
  input[type="date"] {
    color: #333;
    box-sizing: border-box;
    letter-spacing: 1px;
    background: transparent;
    text-align: center;
    width: 100%;
  }
  p {
    margin-bottom: 0px;
    padding: 7px 0;
  }
}
.updateProject {
  .fade:not(.show) {
    opacity: 0;
    display: none;
  }
}
table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: wrap !important;
}
table.dataTable th {
  font-size: 14px !important;
}
table.dataTable td {
  font-size: 13px !important;
}
table.dataTable {
  padding: 20px 0 20px;
}



// поиск по каратм проекта
.search {
  position: relative;
  width: 400px;
  max-width: 0 10px;
  label {
    position: relative;
    width: 100%;
    input {
      width: 100%;
      height: 40px;
      border-radius: 40px;
      padding: 5px 20px;
      padding-left: 35px;
      font-size: 18px;
      outline: none;
      border: 1px solid var(--black2);
    }
    ion-icon {
      position: absolute;
      top: 25%;
      left: 10px;
      font-size: 1.2em;
    }
  }
}


// обязательны поля ввода
.required-field {
  border: 1px solid red;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


.nav-mytabs {
  margin-top: 2rem;
}
.nav-mytabs li:not(:last-child) {
  margin-right: 7px;
}
.nav-mytabs a {
  position: relative;
  top: 4px;
  padding: 10px 25px;
  border-radius: 2px 2px 0 0;
  background: white;
  color: black;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}
.nav-mytabs a.active, 
.nav-mytabs a:hover {
  opacity: 1;
  top: 0;
}
.mytab-content {
  position: relative;
  z-index: 2;
  border-radius: 0 4px 4px 4px;
  background: white;
}